<ion-header translucent>
    <ion-toolbar>
      <ion-title>Pointage</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-content fullscreen>
    <ion-card>
      <ion-card-header>
        <ion-card-title>Consignez vos heures</ion-card-title>
        <ion-card-subtitle>Commencez une plage horaire ou terminez un pointage.</ion-card-subtitle>
      </ion-card-header>
      <ion-card-content>
        <ion-text>
          Le pointage centralise vos horaires sur les projets auxquels vous contribuez.
        </ion-text>
      </ion-card-content>
    </ion-card>
  </ion-content>
